* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
}

/* ------- Menu de navigation entre les sections ------- */
.menunav {
    background-color: rgb(240, 181, 181);
    overflow: hidden;
    width: 100%;
}

.menunav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menunav a:hover {
    background-color: rgba(217, 133, 164, 0.95);
}

.menunav a.active {
    background-color: rgba(217, 133, 164, 0.95);
}

/* Entête */

.entete{
    background-color: rgb(167, 204, 178);
    padding: 30px;
}

.entete h2 {
    margin-top: 15px;
    font-size: 20px;
}

h3 {
    margin-top: 15px;
    font-size: 18px;
}

h4 {
    margin-top: 15px;
    font-size: 15px;
}

/* ------- Page d'acceuil ------- */

.equipe {
    background-color: rgb(240, 235, 227);
}

.equipe h2 {
    padding: 20px;
}

.equipe p {
    padding: 20px;
}

.equipe ul {
    background-color: rgba(179, 166, 171, 0.965);
    width: 22%;
    display: grid;
    margin-left: 12px;
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.equipe a {
    color: #000;
    margin: 6px;
}

.membres {
    background-color: rgba(179, 166, 171, 0.965);
    display: grid;
    float:left;
}

.membres img {
    width: 33%;
    display: grid;
    float: right;
    border-radius: 6px;
    margin-left: 12px;
}

#Aniatitre, #Aniades, #Ameytitre, #Ameydes, #Enolatitre, #Enolades{
    background-color: rgb(240, 235, 227);
}

.joindreequipe {
    background-color: rgb(167, 204, 178);
}

.joindreequipe h2 {
    padding: 20px;
}

/* ------- Formulaire de plainte ------- */

input[type=text], textarea {
    background-color: rgb(240, 181, 181);
    width: 100%;
    padding: 12 px;
    border: 4px #a39e9e;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 12px;
    resize: vertical;
}

textarea {
    resize: none;
}

input[type=submit] {
    background-color: rgba(217, 133, 164, 0.95);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8e8b8b;
}

.formulaireplainte {
    background-color: rgb(240, 235, 227);
    padding: 30px;
}

#coffee-ordi {
    position: relative;
    float: right;
    width: 100%;
}

.splitscreen {
    width: 100%;
    display: flex;
}

.splitscreen div:first-child {
    margin: auto;
}

.sitenavigation {
    position: relative;
    float: left;
    background-color: rgb(167, 204, 178);
    padding: 12px 20px;
    width: 100%;
}

.sitenavigation a {
    background-color: rgb(240, 235, 227);
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}

.sitenavigation a:hover {
    background-color: #a39e9e;
}

