* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.restoname {
    font-weight: bold;
    color: rgba(217, 133, 164, 0.95);
}

footer {
    background-color: rgb(240, 181, 181);
    padding: 10px;
}

/* ------- Menu de navigation entre les sections ------- */
.menunav {
    background-color: rgb(240, 181, 181);
    overflow: hidden;
    width: 100%;
}

.menunav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menunav a:hover {
    background-color: rgba(217, 133, 164, 0.95);
}

.menunav a.active {
    background-color: rgba(217, 133, 164, 0.95);
}

/* Entête */

.entete{
    background-color: rgb(167, 204, 178);
    padding: 30px;
}

.entete h1 {
    margin-left: 55px;
}

.entete h2 {
    margin-top: 15px;
    font-size: 20px;
}

h3 {
    margin-top: 15px;
    font-size: 18px;
}

h4 {
    margin-top: 15px;
    font-size: 15px;
}

.tasse {
    height: 105px;
    width: 110px;
    border: 6px solid black;
    position: absolute;
    top: 65px;
    right: 70px;
    border-radius: 10px 10px 30px 30px;
}

.tasse:before {
    content: "";
    position: absolute;
    height: 40px;
    width: 30px;
    border: 6px solid black;
    border-left: none;
    top: 15%;
    right: -40%;
    border-radius: 0 15px 40px 0;  
}

.tasse:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 200px;
    background-color: #000;
    left: -50%;
    bottom: -10%;
    border-radius: 10px;
}

.tasse:hover {
    background-image: linear-gradient(#fff,rgb(144, 109, 63));
}

.tasse-petite {
    height: 35px;
    width: 40px;
    border: 4px solid black;
    position: absolute;
    top: 80px;
    left: 25px;
    border-radius: 4px 4px 8px 8px;
}

.tasse-petite:before {
    content: "";
    position: absolute;
    height: 12px;
    width: 10px;
    border: 4px solid black;
    border-left: none;
    top: 17%;
    right:-50%;
    border-radius: 0 15px 40px 0;  
}

.tasse-petite:after {
    content: "";
    position: absolute;
    height: 4px;
    width: 70px;
    background-color: #000;
    left: -50%;
    bottom: -15%;
    border-radius: 10px;
}


/* ------- FIN Menu de navigation entre les sections ------- */

/* ------- Page d'acceuil ------- */

.equipe {
    background-color: rgb(240, 235, 227);
}

.equipe h2 {
    padding: 20px;
}

.equipe p {
    padding: 20px;
}

.equipe ul {
    background-color: rgba(179, 166, 171, 0.965);
    display: grid;
    margin-left: 12px;
    border-radius: 6px;
    padding: 6px;
    width: fit-content;
}

.equipe a {
    color: #000;
    margin: 6px;
}

.photo img {
    width: 50%;
    margin: 20px;
    float: right ;
    border-radius: 6px;
}

.membres {
    background-color: rgba(179, 166, 171, 0.965);
    display: grid;
    float:left;
}

.membres img {
    width: 33%;
    display: grid;
    float: right;
    border-radius: 6px;
    margin-left: 12px;
}

#Aniatitre, #Aniades, #Ameytitre, #Ameydes, #Enolatitre, #Enolades{
    background-color: rgb(240, 235, 227);
}

.joindreequipe {
    background-color: rgb(167, 204, 178);
}

.joindreequipe h2 {
    padding: 20px;
}
/* ------- FIN Page d'acceuil ------- */

/* ------- Recettes Populaires ------- */

.description {
    background-color: rgb(240, 235, 227);
    padding: 30px;
}

.poulet-pesto {
    background-color: rgb(240, 235, 227);
    padding: 20px; 
}

.poulet-pesto h3 {
    margin: 12px;
}

.poulet-pesto img {
    width: 45%;
    display: grid;
    float: right;
    border-radius: 6px;
    max-height: 252px;
    max-width: 490px;
    margin-right: 3%;
}

.poulet-pesto ul {
    background-color: rgba(179, 166, 171, 0.965);
    width: 45%;
    display: grid;
    margin-left: 12px;
    border-radius: 6px;
    padding: 6px;
    width: fit-content;
}

.poulet-pesto ol {
    background-color: rgb(167, 204, 178);
    width: 92%;
    display: grid;
    border-radius: 6px;
    margin-left: 12px;
    border-radius: 6px;
    padding: 6px;
    width: fit-content;
}

/* ------- FIN Recettes Populaires ------- */

/* ------- Menu de la semaine ------- */

.reglements {
    background-color: rgb(240, 235, 227);
    padding: 12px;
}

.reglements p {
   margin: 12px;
}

.reglements img {
    height: 245px;
    margin: 12px;
    border-radius: 6px;
    float: right;
}

.table-menu {
    background-color: rgb(240, 235, 227);
    width: 100%;
    padding: 6px;
    text-align: left;
}

.table-menu th {
    background-color: rgb(167, 204, 178);
    font-size: medium;
}

.table-menu tr:nth-child(even) {
    background-color: rgb(255, 203, 203);
}

/* ------- FIN Menu de la semaine ------- */

/* ------- Partenaires ------- */

.construction {
    background-color: rgb(240, 235, 227);
    padding: 12px;
}

.construction p {
    margin: 12px;
    text-align: center;
}

.construction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    height: 300px;
}

/* ------- FIN Partenaires ------- */

/* ------- Formulaire de commentaire ------- */

input[type=text], textarea {
    background-color: rgb(240, 181, 181);
    width: 100%;
    padding: 12px;
    border: 4px #a39e9e;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 12px;
    resize: vertical;
}

textarea {
    resize: none;
}

input[type=submit] {
    background-color: rgba(217, 133, 164, 0.95);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8e8b8b;
}

.formulaireplainte {
    background-color: rgb(240, 235, 227);
    padding: 30px;
}

#coffee-ordi {
    position: relative;
    float: right;
    width: 100%;
}

.splitscreen {
    width: 100%;
    display: flex;
}

.splitscreen div:first-child {
    margin: auto;
}

.sitenavigation {
    position: relative;
    float: left;
    background-color: rgb(167, 204, 178);
    padding: 12px 20px;
    width: 100%;
}

.sitenavigation a {
    background-color: rgb(240, 235, 227);
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}

.sitenavigation a:hover {
    background-color: #a39e9e;
}

